#body {
    background-color: beige;
}

#header {
    position: relative;
    width: 810px;
    height: 100px;
    border-style: solid;
    border-bottom-style: none;
    background-color: firebrick;
}

#headerText {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: x-small;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

#mainContent {
    padding-top: 20px;
    border-style: solid;
    width: 810px;
    height: 500px;
    background-color: aliceblue;
}